<aside id="navigation" class="app-sidebar bg-body-secondary shadow" data-bs-theme="dark" tabindex="-1">
    <div class="sidebar-brand">
        <a href="/" class="brand-link">
            <i class="bi bi-wallet2 brand-image opacity-75 shadow"></i>
            <span class="brand-text fw-light">MMoneyWeb</span>
        </a>
    </div>
    <div class="sidebar-wrapper">
        <NavMenu />
    </div>
</aside>
