@inherits LayoutComponentBase



<div class="login-page">

    <div class="login-page-wrap">

        @Body

    </div>

</div>



<div id="blazor-error-ui" data-nosnippet>

    Ocorreu um erro não tratado.

    <a href="." class="reload">Recarregar</a>

    <span class="dismiss">🗙</span>

</div>


