@inherits LayoutComponentBase

<div class="app-wrapper">
    <AppHeader />
    <AppSidebar />
    <main id="main" class="app-main" tabindex="-1">
        <div class="app-content pt-3">
            <div class="container-fluid">
                @Body
            </div>
        </div>
    </main>
    <AppFooter />
</div>

<div id="blazor-error-ui" data-nosnippet>
    Ocorreu um erro não tratado.
    <a href="." class="reload">Recarregar</a>
    <span class="dismiss">🗙</span>
</div>
