<div class="mt-2">
    <ul class="nav sidebar-menu flex-column" aria-label="Menu principal">
        <li class="nav-item">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <i class="nav-icon bi bi-speedometer2"></i>
                <p>Dashboard</p>
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="contas">
                <i class="nav-icon bi bi-bank"></i>
                <p>Contas</p>
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="lancamentos">
                <i class="nav-icon bi bi-journal-text"></i>
                <p>Lançamentos</p>
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="categorias">
                <i class="nav-icon bi bi-tags"></i>
                <p>Categorias</p>
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="cartoes">
                <i class="nav-icon bi bi-credit-card"></i>
                <p>Cartões</p>
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="relatorios">
                <i class="nav-icon bi bi-bar-chart-line"></i>
                <p>Relatórios</p>
            </NavLink>
        </li>
    </ul>
</div>
